# Write the code that execute the following:

### Output:  We School

### Declare variable with initial value 6 and print it

### Declare variable with initial value your name and print it

### Print the following output (WeSchool 2021) by using two variables

### Declare three variables x,y & z with initial values 1,2 & 3 in one line then print them

### Declare variable a with initial value 2.0 and get it's data type by using type function, repeat by another variables with another data types

### Declare string variable with value "I am in we school, grade 1"  ,then:

#### 1) get length of it

#### 2) check if word "WE" is in the string or not

#### 3)Modify string to "I am in we school,grade 2" by using replace() method

#### 4)Modify string to be in uppercase (capital letters)

#### 5) Split string on every white space (  )

#### 6) Write the sring by format method with words "I" and "we" and "school" as variables

### Divide 11 by 2 and get result in float form

### Divide 11 by 2 and get result in integer form

### Divide 11 by 2 and get result in string form by using casting

### Get the reminder when you divide 11 by 2

### Make user enter his age as input, then add 5 to his age. (make the required to prevent error ocuured)

### Declare variable with boolean value, then print it's type by using type function

### Declare this list in variable ['tennis','swimmig','pingpong','handball','volley']

### 1) access item "pingpong" from the list

### 2) access items from swimming to handball in list by using range index

### 3) Modify list to be ['tennis','swimming','pingpong','football','volley'] without declaring new list

### 4) add item 'squash' at order number 3 in list

### 5) add item 'karatee' at the end of the list

### 6) remove 'tennis' from list

### 7) Sort this list in both ascending and descending orders

### 8)Declare new list ['running','walking'] then merge it with the main previous list