# Week 1 (Python Basics)

### 1) Print

In [1]:
print("Hello World!")

Hello World!

### 2) Comments

In [2]:
# print ("hello")

In [5]:
"""
print("hello")
print("world")
"""

'\nprint("hello")\nprint("world")\n'

### 3)Variables

In [6]:
x = 5
y = "john"
print(x)   #print("x")
print(y)   #print("y")

5
john

In [7]:
#Overwrite
x = 4
x = "sally"
print(x)

sally

In [8]:
a = 4
A = "Sally"

In [9]:
#Multi calues to multi variables
x , y , z = "red" , "blue" , "green"
print(x)
print(y)
print(z)

red
blue
green

In [10]:
#One value to multi variables
x = y = z ="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [11]:
x = "awesome"
print("Python is" + x)

Python isawesome

In [12]:
x = "Python is"
y = "awesome"
z = x + y

### 3) Data Types

### Type Function

In [30]:
#Used to know type of any variable
a = "we school"
b = 5
c = 5.1
print( type(a) )
print( type(b) )
print( type(c) )

<class 'str'>
<class 'int'>
<class 'float'>

### a) String

In [23]:
text= "future career camp, programming with python, group 4     "

#get length of string
print( len(text) )

#check string
print( "camp" in text )

#modify string
print( text.upper() )
print( text.lower() )

#remove white spaces from beginning and end
print( text.strip() )

#modify string
print( text.replace("4" , "5") )

#split string
print( text.split(",") )

57
True
FUTURE CAREER CAMP, PROGRAMMING WITH PYTHON, GROUP 4
future career camp, programming with python, group 4
future career camp, programming with python, group 4
future career camp, programming with python, group 5
['future career camp', ' programming with python', ' group 4     ']

In [24]:
#format string
a = "camp"
b = "python"
c = "4"
print( "future career {}, programming with {}, group {}".format(a,b,c) )

future career camp, programming with python, group 4

### b) Integer

In [1]:
x = 4
y = 1500
print(type(x))
print(type(y))

<class 'int'>
<class 'int'>

### c) Float

In [2]:
x = 2.5
y = 7.0
print(type(x))
print(type(y))

<class 'float'>
<class 'float'>

### Maths

In [27]:
print( 5 + 2 )
print( 5 - 2 )
print( 5 * 2 )
print( 5 / 2 )  #float output
print( 5 // 2 ) #integer output
print( 5 % 2 )  #division reminder

7
3
10
2.5
2
1

In [29]:
#Math operations precedence () , power , * or / , + or -
print( 4+3/3*(5*3) )

19.0

### Casting

In [3]:
x = int(1)
print(x)
print(type(x))

y = int(2.8)
print(y)
print(type(y))

z = int("3")
print(z)
print(type(z))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>

In [40]:
x = str("s1")
y = str(2)
z = str(3.0)

print(x)
print(type(x))

print(y)
print(type(y))

print(z)
print(type(z))

s1
<class 'str'>
2
<class 'str'>
3.0
<class 'str'>

### User Input

In [41]:
x = input("type your name")
print(x)

type your namejohn
john

In [42]:
y = input("type a number")
print(y)
print(type(y))

type a number5
5
<class 'str'>

In [43]:
z = int(y)
print(z)
print(type(z))
print(z+3)

5
<class 'int'>
8

### d)Boolean

In [5]:
x = True
print(type(x))
y = "True"
print(type(y))

<class 'bool'>
<class 'str'>

In [6]:
x = False
print(type(x))
y = "False"
print(type(y))

<class 'bool'>
<class 'str'>

In [10]:
print(5 > 3)
print(5 < 3)
print(5 == 3)
print(5 != 3)

True
False
False
True

### e) List

### Lists are: ordered , changable , allow duplicates

In [30]:
list = ['maths','IT','physics','communication','PE']
print(list)

['maths', 'IT', 'physics', 'communication', 'PE']

#### Access List Items

In [16]:
#Access Items
#Positive Index
print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list[4])

maths
IT
physics
communication
PE

In [14]:
#Access Items
#Negative Index
print(list[-1])
print(list[-2])
print(list[-3])
print(list[-4])
print(list[-5])

PE
communication
physics
IT
maths

In [23]:
#Access Items
#Range of Indices
print(list[1:4])

['IT', 'physics', 'communication']

#### Modify List

In [31]:
#Modify list
list[2] = "electricity"
print(list)

['maths', 'IT', 'electricity', 'communication', 'PE']

#### Add to the list

In [32]:
# 1) append()
list.append("arabic")
print(list)

['maths', 'IT', 'electricity', 'communication', 'PE', 'arabic']

In [33]:
# 2) insert
list.insert(3,"physics")
print(list)

['maths', 'IT', 'electricity', 'physics', 'communication', 'PE', 'arabic']

#### Remove from the list

In [34]:
# 1)remove
list.remove("communication")
print(list)

['maths', 'IT', 'electricity', 'physics', 'PE', 'arabic']

In [35]:
# 2) pop
list.pop(1)
print(list)

['maths', 'electricity', 'physics', 'PE', 'arabic']

#### Sort List

In [36]:
x = [ 3 ,6 ,1 ,0 ,10 ,5]
x.sort()
print(x)

[0, 1, 3, 5, 6, 10]

In [37]:
x = [ 3 ,6 ,1 ,0 ,10 ,5]
x.sort(reverse = True)
print(x)

[10, 6, 5, 3, 1, 0]

#### Join Lists

In [38]:
#extend()
list1 = ["a","b","c"]
list2 = ["d","e"]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 'd', 'e']

In [39]:
#concatenation in new list
list1 = ["a","b","c"]
list2 = ["d","e"]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 'd', 'e']